body{
    width: 100%;
    height: 100%;
    /* background-color: white;    */
}
#top_div{
    width: 100%;
    height: 82px;
    margin-left: 45%;
    margin-top: -3%;
 
}
#amazone_icon{
    width: 120px;
    height: 120px;
}
#parent_div{
    width: 28%;
    height: 290px;
    background-color:white;
    margin: 15px auto;
    border: 1px solid rgb(197, 196, 196);
    border-radius: 10px;
}
#signin_heading{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    margin-left: 40px;
    margin-top: 20px;
}
#phone_id{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-top: -10px;
}
/* #child_div{
    width: 100%;
    height: 40px;
    background-color: black;
} */
input{
    width: 80%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgb(184, 183, 182);
    margin-left: 40px;
    margin-top: -10px;
}
input:focus{
    outline: 3px solid rgb(143, 253, 255);
    background-color: rgb(250, 252, 251);
}
#continue_button{
    width: 81%;
    height: 30px;
    border-radius: 7px;
    border: none;
    margin-left: 40px;
    margin-top: 15px;
    background-color: rgb(248, 209, 37);
}
#continue_button:hover{
    background-color: rgb(235, 235, 9);
}
#conditions_para{
   width: 80%;
   height: 30px;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 12px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: normal;
}
span{
    color: royalblue;
    text-decoration: underline;
}
span:hover{
    color: brown;
}
.summary_button{
    margin-left: 40px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;   
}
#child_div{
    width: 28%;
}
#button_you{
    margin-left: 45%;
    margin-top: 50px;
}

